# Python
__pycache__/
*.pyc

# OS
.DS_Store

# Project specific
captures/

# Keep demo GIFs, ignore others
recordings/*.gif
!recordings/pick_and_place.gif
!recordings/push.gif
!recordings/reach.gif
!recordings/slide.gif